@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* google-icon */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.fs-36px {
  font-size: 36px;
}

.fs-48px {
  font-size: 48px;
}

.mb-8px {
  margin-bottom: 8px;
}

.mb-24px {
  margin-bottom: 24px;
}

.me-16px {
  margin-right: 16px;
}

.me-48px {
  margin-right: 48px;
}

.my-32px {
  margin: 32px 0;
  border: 1px solid #fff;
}

/* 字體顏色 */
.color-fff {
  color: #FFF;
}

.w-48px {
  width: 48px;
}

/* 背景顏色 */
.bg-aa0601 {
  background-color: #AA0601;
}

.py-12-768px{
  padding: 12px 0 !important;
}

.footer-py {
  padding: 48px 0 32px 0;
}

.footer-icon-mx {
  margin: 0 32px;
}

.icon-size {
  width: 48px;
}

@media (max-width: 768px) {
  .fs-16-768px {
    font-size: 16px !important;
  }
  .icon-size {
    width: 24px;
  }
  .mb-8-768px{
    margin-bottom: 8px;
  }
  .footer-icon-mx{
    margin: 0 8px;
  }
  .my-md-24px {
    margin: 24px 0;
  }
}