/* 字體大小 */
.fs-20px {
  font-size: 20px;
}

/* 字距 */
.ms-64px {
  margin-left: 64px;
}

/* 字體顏色 */
.color-fff {
  color: #FFF;
}

/* 背景顏色 */
.bg-aa0601 {
  background-color: #AA0601;
}

.navbar {
  padding: 25px 0;
}

.logo {
  max-width: 80px;
}

@media (max-width: 768px) {
  .container-768 {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .logo-padding {
    padding: 12px 0 12px 15px;
    align-self: self-start;
  }

  .nav-list {
    width: 100%;
    flex-wrap: wrap;
  }

  .nav-item {
    width: 50%;
    text-align: center;
    margin-left: 0;
    padding: 12px 0;
    border: 1px solid #FFFFFF
  }
} 