@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-d1d1d1 {
  color: #D1D1D1;
}

.text-15161d {
  color: #15161D;
}

.text-fff {
  color: #fff;
}

.text-64px {
  font-size: 64px;
}

.btn {
  padding: 12px 24px;
  border-radius: 32px;
}

.nav-routing {
  padding: 40px 0;
}

.max-width-1296 {
  max-width: 1296px;
}

.header-py {
  padding: 72px 0 32px 0;
}

.contact-me-pt {
  padding-top: 232px;
}

.h1-william {
  font-size: 128px;
  color: #00FFA3;
}

.bg-set-introduction {
  padding: 160px 0;
  background-image: url('../image/background-img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #15161D;
}

.introduction {
  width: 526px;
}

.mb-36px {
  margin-bottom: 36px;
}

.mx-20px {
  margin: 0 20px;
}

.me-24px {
  margin-right: 24px;
}

.mb-28px {
  margin-bottom: 28px;
}

.intro {
  padding-bottom: 32px;
}

.introduction-img-group {
  width: 746px;
}

.about-me-pt {
  padding: 160px 0;
}

.ability-group {
  width: 636px;
}

.ability-group li {
  width: 306px;
}

.ability-number {
  font-size: 20px;
  color: #15161D;
}

.ability-number h3 {
  font-size: 20px;
}

.about-me-depiction {
  width: 526px;
}

.about-me-depiction p {
  color: #15161D;
}

.bg-contact-me {
  padding: 96px 0;
  background: linear-gradient(180deg, #050014 0%, #01021ee3 100%);
}

.my-projects {
  padding: 160px 0;
}

.h2-width-746px {
  width: 746px;
}

.projects-width-856px {
  width: 856px;
}

.projects-image-196px {
  width: 196px;
}

.projects-image-416px {
  width: 416px;
}

.projects-image-306px {
  width: 306px;
}

.projects-image-526px {
  width: 526px;
}

.footer-py-40px {
  padding: 40px 0;
}