@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

a{
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Castoro", serif;
	line-height: 1.5;
	font-size: 24px;
}

.font-weight {
	font-weight: 400;
}

.w-50 {
	width: 50%;
}

.ml-auto {
	margin-left: auto;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-8 {
	margin-bottom: 8px;
}

.container {
	width: 100%;
	max-width: 1296px;
	margin: 0 auto;
}

.banner {
	padding-top: 160px;
}

.banner-title {
	font-size: 128px;
	font-weight: 400;
	letter-spacing: 0.12em;
}

.banner-img {
	width: 636px;
	display: block;
	margin: 0 auto;
}

.introduce {
	padding: 48px 0;
	font-size: 32px;
	background: #EFEFEF;
}

.resume {
	padding: 80px 0 160px 0;
}

h3 {
	font-size: 40px;
	color: #AE0000;
	border-bottom: 3px solid #AE0000
}

.year {
	font-size: 20px;
	font-style: italic;
	color: #949494;
}

.icon-group {
	padding: 64px 0;
	background-color: #000000;
	text-align: center;
}

.icon-group li {
	display: inline-block;
}

.icon-group li:nth-of-type(2) {
	margin: 0 40px;
}