@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* google-icon */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

// /* 字型 */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

// /* 字型結束 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
textarea {
  border: 1px solid #000000;
  padding: 6px 12px;
}

// /* 字體大小 */
.fs-14px {
  font-size: 14px;
}

.fs-20px {
  font-size: 20px;
}

.fs-24px {
  font-size: 24px;
}

.fs-36px {
  font-size: 36px;
}

.fs-48px {
  font-size: 48px;
}

.fs-64px {
  font-size: 64px;
}

/* 字距 */
.mb-8px {
  margin-bottom: 8px;
}

.mb-16px {
  margin-bottom: 16px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-48px {
  margin-bottom: 48px;
}

// /* 字體顏色 */
.color-fff {
  color: #FFF;
}

.color-650300 {
  color: #650300;
}

.color-aa0601 {
  color: #AA0601;
}

.color-707070 {
  color: #707070;
}

// /* 物件大小 */
.w-24px {
  width: 24px;
}

.w-100px {
  width: 100px;
}

// /* 背景顏色 */
.bg-aa0601 {
  background-color: #AA0601;
}

.bg-fbf2f2 {
  background-color: #FBF2F2;
}

.bg-fff {
  background-color: #FFF;
}

.header-bg {
  padding: 296px 0 341px 0;
  background: url('../../../image/home-header.png') no-repeat center / cover;
}

.buy-now {
  padding: 6px 12px;
  text-decoration: none;
}

.section-py-80px {
  padding: 80px 0;
}

.section-index-bg {
  background: url('../../../image/index-bg.png') no-repeat center / cover;
}

.double-a,
.youth {
  padding: 8px 0;
}

.section4-shadow {
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}

.min-h-72px {
  min-height: 72px;
}

.min-h-136px {
  min-height: 136px;
}

.form-checkbtn {
  padding: 16px 0;
}


@media (max-width: 992px) {
  .section1-header {
    font-size: 48px;
  }

  .card {
    margin-bottom: 24px;
  }

  .section-index-bg {
    background: url('../../../image/index-bg-md.png') no-repeat center / cover;
  }
}

@media (max-width: 768px) {
  .header-bg {
    background: url('../../../image/home-header-sm.png') no-repeat center / cover;
  }
  .fs-16-768px{
    font-size: 16px;
  }
  .fs-24-768px{
    font-size: 24px;
  }
} 